@model webCore.Models.User.ForgotPasswordModel
@{
    Layout = String.Empty;
}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ease Roam</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            display: flex;
            margin-top: 5%;
        }

        .left, .right {
            padding: 20px;
            width: 50%;
            border: 1px solid #ccc;
        }

        .right {
            border: 1px solid #ccc;
        }

        .login {
            margin-top: 100px;
        }

        .top {
            margin-top: 50px;
        }

        .btn-primary {
            margin-top: 10px;
        }

        .top1 {
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Ease Roam</h1>

            <img src="~/image/travel_login.jpg" alt="Admin illustration" class="img-fluid">
        </div>
        <div class="right">
            <h2 class="top1">Forgot Password</h2>
            <p class="text-black-50 mb-5">Please enter your email!</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-controller="ForgetPassword" asp-action="ForgetPassword" method="post">
                <div class="form-group">
                    
                    <input asp-for="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style=" width: 100%;">Send Email</button>
            </form>
            <a asp-controller="Home" asp-action="Index">Login?</a>
           
        
        </div>
    </div>
    <!-- Add Bootstrap JS and Popper JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   

    
</body>
</html>
